*{
	margin: 0px;
	padding: 0px;
}

/*NAVIGATION*/
nav{
	height :30px;
	background : transparent;
	position:  fixed;
	top :0px;
	width : 100%;
}

nav img  {
	margin-top: 5px ;
	height: 20px;
	float: left;
}

nav ul {
	font-family: Bahnschrift light;
	font-size: 1em;
	margin-top: 10px;
	margin-right: 20px;
	float : right;
	list-style: none;
}

nav li {
	float : left;
	padding-left: 50px;
}

nav li a {
	color : white;
	text-decoration: none;
	
	}
/*FIN NAVIGATION*/

h1 {
	font-family: Bahnschrift;
	font-weight: bold;
	font-size: 2.5em;
	color: white;
	margin: 10px;
}
h2 {
	font-family: Bahnschrift light;
	font-size: 2em;
	color : white;
	margin: 10px;
}

h3 {
	font-family: Bahnschrift light;
	font-weight: lighter;
	font-size: 1.5em;
	color : white;
}

h4 {
	font-family: Bahnschrift light;
	font-weight: lighter;
	font-size: 1em;
	color : white;
}


.bg-img { 		
	background-size: cover;
	height: 780px;
	display: flex;							/*MISE DES IMAGES EN BACKGROUND*/
	flex-direction : column;
	justify-content: center;
	align-items : center;
}

/* BACKGROUND IMAGE ACCEUIL */
.slogan {
	background-image: url("img/dark-1.png");
}

.presentation {
	background-image: url("img/dark-2.jpg")
}

.testimonials {
	background-image: url("img/dark-3.png");
}

/* BACKGROUND IMAGE FORMULES */
.nos-formules {
	background-image: url("img/helico.jpg");
}

.formule1 {
	background-image: url("img/voiture.jpg");
}

.formule2 {
	background-image: url("img/mini-van-2.jpg");
}

.formule3 {
	background-image: url("img/helico.jpg");
}

/**/

.pitch{
	width : 50%;
	margin-bottom: 30px ;
}

button {
	border-color: white;
	background: transparent;
	padding: 15px 25px;
	text-align: center;
	display: inline-block;
	margin: 40px;
}

button a {
	font-family: Bahnschrift light;
	font-weight: lighter;
	color : white;
	text-decoration: none;
	font-size: 16px;
	text-decoration: none;
}

/*Acceuil*/

.container-testimonials {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 100px;
}

.testimonial {
	width: 25%;
}

/*Nos Formules*/

.formules {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: center;
}

.name {
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 25%;
}

.description {
	width: 40%;
}

/*Reservation*/

.bg-resa {
	background-color: black;
}

.form-resa {
	margin: 10px;
	text-align: center;
}

.nav-mr {
	list-style-type: none;
	float: right;
}

.text-resa {
	color: whitesmoke;
}

/*BACKGROUND IMAGE RESERVATION*/

.reserver-img {
	background-image: url(img/resa1.jpg);
}
